.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.container {
    padding: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 50rem;
    max-width: 100%;
    border-radius: 0.5rem;
    padding: 4rem 3.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.buttons {
    gap: 2rem;
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}

.wait {
    padding: 1.6rem;
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: center;
}
