.btn {
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    padding: 1.6rem 3rem;
    color: var(--primary-contrast-color);
    background-color: var(--primary-color);
}

.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn:not([disabled]):hover {
    opacity: 0.8;
}
