.container {
    width: 12rem;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid #eee;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.container.selected {
    opacity: 0.7;
}

.container[disabled] {
    pointer-events: none;
}

.imageContainer {
    margin: -1rem -1rem 0;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
}

.image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.name {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
