.container {
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
    background: #f3f3d9;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #eee;
    will-change: transform;
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.container[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.selected {
    transform: scale(1.15);
    border: 1px solid #ccc;
}
