.container {
    gap: 1rem;
    width: 15rem;
    display: flex;
    padding: 1rem;
    background: #ffffff;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #ddd;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
