.container {
    padding: 1rem;
    display: flex;
    background: #edefea;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    width: 90rem;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: space-between;
}

.round,
.turn {
    font-size: 2rem;
}

.players {
    gap: 1rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1.8rem;
}

.main {
    gap: 3rem;
    display: flex;
    margin-top: 3rem;
    align-items: flex-start;
    justify-content: center;
}

.sidebar {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    gap: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
