.container {
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: space-between;
}

.round,
.turn {
    font-size: 2rem;
}

.players {
    gap: 1rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1.8rem;
    border: 0.1rem solid var(--border-color);
}

.main {
    gap: 3rem;
    display: flex;
}

.sidebar {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
